#list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

ul li {
    list-style-type: none;
    padding: 10px 0;
}

h3 {
    padding: 5px 5px 5px 0;
}

thead {
    background: lightgrey;
}

tr {
    background: lightblue;
}