* {
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    margin: 0;
}

h1 {
    margin: 0;
    padding-top: 40px;
    font-size: 100px;
    font-family: 'gochi hand';
    color: hsl(34, 47%, 61%);
    line-height: 1.2em;
}

h2 {
    margin: 0;
    margin-bottom: 20px;
    font-size: 35px;
    color: #fff;
}

#header {
    display: block;
    padding: 60px;
    text-align: center;
    text-shadow: 4px 4px 12px #000;
    background-image: url('https://images.pond5.com/underwater-footage-024397311_prevstill.jpeg');
    background-position: bottom right;
    background-size: cover;
    background-attachment: fixed;
}

#header #salmonImg1 {
    display: block;
    position: absolute;
    width: 340px;
    top: 30px;
    right: 20px;
    transform: rotate(20deg);
}

#header #salmonImg2 {
    display: block;
    position: absolute;
    width: 340px;
    top: 30px;
    left: 20px;
    transform: rotate(-20deg);
}

#header #salmonImg2 img {
    width: 100%
}

#salmonImg1 img{
    width: 100%;
}

/* BEGIN TABLE */

#table-section {
    padding: 5%;
    margin: 0 auto;
    margin-top: -120px;
}

table {
    width: 100%;
    border: solid 3px black;
    text-align: left;
    border-collapse: collapse;
}

th {
    background: #eee;
    padding: 10px;
    text-transform: uppercase;
}

th:last-of-type {
    background: black;
    color: lightblue;
    font-size: 150%;
    text-align: center;
}

td:nth-child(odd) {
    background: lightblue;
    color: #000;
}

td {
    padding: 15px;
    border-collapse: collapse;
    border: solid 3px black;
    background-color:hsl(200, 69%, 43%);
    text-align: center;
    color: #fff;
}


/* FORM SECTION */

form {
    padding: 50px;
    margin: 0 auto;
    background: #eee;
    border: none;
    text-align: center;
}

legend {
    font-size: 200%;
    font-weight: bold;
}

fieldset {
    border: none;
    border: solid 1px black;
}

form label, button {
    display: block;
    margin: 10px;
}

input {
    padding: 15px;
    border: solid 2px #000;
    border-radius: 50px;
    width: 40%;
}

button {
    padding: 10px;
    border: solid 2px #000;
    border-radius: 50px;
    background: transparent;
    margin-left: 0;
    margin: auto;
    margin-top: 25px;
    cursor: pointer;
}


