body {
    font-family: sans-serif;
    margin: 0;
}

h1 {
    margin: 0;
    padding-top: 40px;
    text-align: center;
    font-size: 45px;
}

#header {
    display: block;
    background: rgba(200,0,0,.7);
    height: 250px;
    color: #fff;
    text-transform: uppercase;
}

/* BEGIN TABLE */

#table-section {
    padding: 50px;
    margin: 0 auto;
    margin-top: -100px;
}

table {
    border: solid 3px black;
    text-align: left;
    border-collapse: collapse;
}

th {
    background: #eee;
    padding: 10px;
    text-transform: uppercase;
}

tr:nth:nth-child(even) {
    background: #eee;
}

td {
    padding: 15px;
    border-collapse: collapse;
    border: solid 3px black;
    background-color: lightblue;
    text-align: center;
}


/* FORM SECTION */

form {
    padding: 50px;
    margin: 0 auto;
    background: #eee;
    border: none;
    text-align: center;
}

legend {
    font-size: 200%;
    font-weight: bold;
}

fieldset {
    border: none;
    border: solid 1px black;
}

form label, button {
    display: block;
    margin: 10px;
}

input {
    padding: 15px;
    border: solid 2px #000;
    border-radius: 50px;
    width: 200px;
}

button {
    padding: 10px;
    border: solid 2px #000;
    border-radius: 50px;
    background: transparent;
    margin-left: 0;
    margin: auto;
    margin-top: 25px;
}


